// ## Colors

$White: #FFFFFF;
$Purple: #18052C;
$Gray: #45375A;
$Pink: #FF47CE;
$Blue: #12032B;
$PinkFilter: invert(43%) sepia(37%) saturate(3754%) hue-rotate(291deg) brightness(102%) contrast(101%);

// BreakPoints

$breakpoint-small: 728px;
$breakpoint-medium: 1098px;


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');



.hide-for-pc{
    @media (min-width: $breakpoint-medium) {
        display: none !important;
    }
}

.hide-for-table{
    @media (max-width: $breakpoint-medium) {
        display: none !important;
    }
}

.hide-for-phone{
    @media (min-width: $breakpoint-small) {
        display: none !important;
    }
}

.filterwhite{
    filter:brightness(100%)!important;
}
